*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

body{
    background-image: url(./assets/bg.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #1E1E1E;    
}
body * {
    font-family: 'Montserrat', sans-serif;    
    line-height: 160%;

    color: #FFFFFF;
}
header{
    margin-top: 32px;
    height: calc(120px + 32px);
}

header div{
    width: 120px;
    margin: auto;

    background-image: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);

    border-radius:50%;

    display: flex;
    padding: 4px;

    transition: transform .3s;



}
header div:hover{
    transform: scale(1.1);
}

header div img{
    width: 100%;
    border-radius: 50%;
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;
}

section{
    color: white;
    background-image: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div{ 
    background-color: #262629;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}


section h2{
    letter-spacing: -0.47px;
}

section p{
    letter-spacing: -0.18px;
    color: #C1C1C1;
}

section ul{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;

   margin-top: 24px;
}

section ul li{
    transition: transform .3s;
}

section ul li:hover{
    transform: scale(1.1);
}

.movie-list img{
    box-sizing: border-box;

    
    height: 169px;
    border: 1px solid #555555;
    border-radius: 13px;
}

.serie-list img{

    height: 169px;
    border: 1px solid #555555;
    border-radius: 16px;
}

/* Animation */

header div{
    animation: fromTop .7s .2s backwards;
}

main section{
    animation: fromBottom .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0s;
}

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
    animation-delay: .8s;
}

@keyframes fromTop {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
    

}
@keyframes fromBottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

